@media screen and ( min-width: 768px) and ( max-width: 992px) 
{
    .container2
    {
        background-color: #F2F2F2;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 5px 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .global
	{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
	}
    .container
    {
    
        width: 100%;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        left: 0;
        border-radius: 14px;
        justify-content: space-between;
    }
    .Auberge_la_Canebier, .Hotel_du_port, .Hotel_Les_Moulettes, .Hôtel_de_la_mer, .Auberge_Le_Panier, .Hôtel_chez_Amina
    {
        background-color: white;
        border-radius: 14px;
        overflow: hidden;
        width: 30%;
        box-shadow: 0.6px 0.6px 6px lightgrey;
        margin-bottom: 25px;
        border: 4px solid white;
    }
    .popu_img{
        width: 25%;
        height: 130px;
    }
    .back img
    {
        width: 100%;
        height: 130px;
    
    }
    .back{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }
    .HTB, .HLS, .AC
    {
        background-color: white;
        display: flex;
        border-radius: 14px;
        box-shadow: 0.6px 0.6px 6px lightgrey;
        width: 100%;
        overflow: hidden;
        margin-top: 30px;
        border: 4px solid white ;
        position: relative;
    }
	.container2 img {
		height: 136px;
		width: 100%;
	}
	.barrenav
	{
		width: 100%;
		flex-wrap: wrap;
	}
	.barrenav ul
	{
		width: 100%;
		padding-top: 40px;
	}
	.barrenav li:hover 
	{
   	 	border-top:none;
   	 	border-bottom: 2px solid;
    	color: #0065FC;
 	}
	.booki
	{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.booki img
	{
		height: 60px;
	}
	.barrenav ul li 
	{
		width: 50%;
		display: flex;
		justify-content: center;
	}
	.finish{
		width: 100%;
	}
	
     .card-lg img {
            width: 100%;
            height: 560px;
            object-fit: cover;
            overflow: hidden;
    }
    
    .card-md img 
    {
	    width: 100%;
	    object-fit: cover;
	    overflow: hidden;
        height: 200px;

    }
    .card-lg
    {
        box-shadow: 0.6px 0.6px 6px lightgrey;
        background-color: white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        overflow: hidden;
        height: 100%;
        width: 50%;
    }

    .card-md
    {	   box-shadow: 0.6px 0.6px 6px lightgrey;
        background-color: white;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        overflow: hidden;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .imgpt
    {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 40px;
        margin-left: 20px;
        margin-top: -21px;
        width: 50%;
    }
    .act{
        display: flex;
        flex-wrap: wrap;
    }
    .block1, .block2
    {
        width: 100%;
        padding: 15px;
    }
    .mini{
        padding-bottom: 40px;
    }
}